

h1 {
    background-color: red;
}


h2 {
    background-color: blue;
}

#search-tag {
    position: relative;

    width: 50%;
}

#search-tag__input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    font-size: 18px;

    border-radius: 10px 10px 0px 0px;

}

#search-tag__completion {
    width: 100%;
    box-sizing: border-box;
    padding-inline-start: 0px;
    list-style: none;
    position: absolute;
    text-wrap: nowrap;

    margin: 0px;
    border: 2px solid black;
    font-size: 18px;

    background-color: white;


}


.search-tag__completion-candidate {
    padding: 5px;
    overflow: hidden;
}

#search-bar {

}

#search-tag__completion:empty {
    display: none;
}

.search-tag__completion-candidate--highlight {
    background-color: ghostwhite;
}


