

h1 {
    background-color: red;
}


h2 {
    background-color: blue;
}


#search-bar {
}


#tag-search-completion {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    position: absolute;
    background-color: white;
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
    border: solid black 1px;
}


.completion-candidate {


}


.completion-candidate-selecte {
   
}

