

h1 {
    background-color: red;
}


h2 {
    background-color: blue;
}

#search-bar {
    position: relative;
}

#tag-search {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    font-size: 18px;

    border-radius: 10px 10px 0px 0px;

}

#completion {
    width: 100%;
    box-sizing: border-box;
    padding-inline-start: 0px;
    list-style: none;
    position: absolute;
    text-wrap: nowrap;
    /* padding: 5px; */
    margin: 0px;
    border: 2px solid black;
    font-size: 18px;

    background-color: white;


}


.candidate {
    padding: 5px;
}

#search-bar {

}

.select {
    background-color: ghostwhite;
}


